{# billing/includes/ad_bottom_contact.html #}

<div class="row justify-content-center mt-5 mb-4">
    <div class="col-lg-8 text-center">
        <div class="alert alert-secondary p-2 border-0 shadow-sm" role="alert">
            <i class="bi bi-megaphone-fill me-2"></i> Szponzorált Tartalom – Az oldal fenntartását támogatja
        </div>
        
        <ins class="adsbygoogle"
             style="display:block; margin: 0 auto;"
             data-ad-client="ca-pub-7737967729637742" 
             data-ad-slot="0987654321"  
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        
    </div>
</div>