# Python
__pycache__/
*.pyc
.env
.env.yaml
gcp_service_account.json

# Docker
.dockerignore

# Adatbázis fájlok
*.sqlite3


# IDE fájlok
.vscode/

# Virtuális környezetek (ez a KRITIKUS sor!)
venv/
env/

# Elemzési outputok és ideiglenes fájlok
/media/
/static_collected/
/analysis_output/
/tmp/

# Google Cloud SDK maradványok
y/
google-cloud-sdk/
.config/gcloud/