{% extends 'login/base_in.html' %}

{% block content %}
<h1>Versenyzői Profil</h1>


<form method="POST">
    {{ form.csrf_token }}
    
    <div class="form-group">
        {{ form.coach_id.label }} {{ form.coach_id(class="form-control") }}
    </div>
    <div id="parent-select" style="display: none;">
        <div class="form-group">
            <label>Szülők</label>
            <div id="parent-checkboxes">
            </div>
        </div>
    </div>
    {{ form.submit(class="btn btn-primary") }}
</form>


{% endblock %}