{% extends 'login/base_in.html' %}

{% block content %}
    <h1>Dashboard</h1>
    {% if user.is_authenticated %}
    <p>Kedves <label>{{ user.last_name }} {{ user.first_name }}</label>! A következő szerepköreid vannak:</p>
    {% endif %}

    {% if athletes %}    
        <h2>Sportolók</h2>
        <ul>
            {% for athlete in athletes %}
                <li>
                    {{ athlete.user.username }} - Sportoló
                    <a href="#"><i class="fas fa-pencil-alt"></i></a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if parents %}
        <h2>Szülők</h2>
        <ul>
            {% for parent in parents %}
                <li>
                    {{ parent.user.username }} - Szülő
                    <a href="#"><i class="fas fa-pencil-alt"></i></a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if coach %}
    <h2>Edző Szerepkör:</h2>
    <ul>
        <li>
            {% if club_sports %}
                <ul>
                    {% for cs in club_sports %}
                        <li>{{ cs.club.short_name }} - {{ cs.sport.name }}</li>
                        <a href="#" style="color: yellow;"><i class="fas fa-pencil-alt"></i></a>
                        <a href="#" style="color: red;"><i class="fas fa-trash-alt"></i></a>
                        <a href="#" class="btn btn-primary">Szerepkör funkció</a>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    </ul>
    {% endif %}

    {% if leaders %}
        <h2>Vezető Szerepkök:</h2>
        <ul>
            {% for leader in leaders %}
                <li>
                    {{ leader.club.full_name }} - ({{ leader.club.short_name }})
                    <a href="#" style="color: yellow;"><i class="fas fa-pencil-alt"></i></a>
                    <a href="#" style="color: red;"><i class="fas fa-trash-alt"></i></a>
                    <a href="#" class="btn btn-primary">Szerepkör funkció</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}