{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">{{ page_title }} - {{ schedule.name }}</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {% include "data_sharing/coach/includes/form_snippet.html" %} 
                        
                        <div class="d-grid mt-4">
                            <button type="submit" class="btn btn-warning btn-lg">Edzésrend Módosítása</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}