{% extends "base.html" %}
{% load static %}

{% block title %}Új egyesület létrehozása{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card p-4 shadow-sm">
                <h2 class="text-center mb-4 fw-bold">Új egyesület létrehozása</h2>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    {{ form.as_p }}

                    <button type="submit" class="btn btn-primary w-100 mt-4">Létrehozás</button>
                </form>
                
                <a href="{% url 'core:main_page' %}" class="btn btn-link w-100 mt-2">Vissza a főoldalra</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}