{% extends 'base.html' %}

{% block title %}Jelszó megváltoztatva{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card p-4 shadow" style="width: 100%; max-width: 600px;">
        <h2 class="text-center mb-4">A jelszó sikeresen megváltoztatva!</h2>
        <p class="text-center">Most már bejelentkezhetsz az új jelszavaddal.</p>
        <a href="{% url 'users:login' %}" class="btn btn-primary w-100 mt-3">Bejelentkezés</a>
    </div>
</div>
{% endblock %}