{% extends 'base_out.html' %}
{% block title %}Új jelszó megadása{% endblock %}

{% block content %}
<div class="container mt-5">
    {% if validlink %}
        <h2>Új jelszó megadása</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-success" type="submit">Jelszó Beállítása</button>
        </form>
    {% else %}
        <div class="alert alert-danger" role="alert">
            A hivatkozás érvénytelen, valószínűleg már felhasználták. Kérjük, próbálja meg újra a jelszó visszaállítását.
        </div>
    {% endif %}
</div>
{% endblock %}