{% extends 'base_out.html' %}

{% block content %}

<h1>Regisztráció</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <p>{{ form.last_name.label }} {{ form.last_name }}</p>
    <p>{{ form.first_name.label }} {{ form.first_name }}</p>
    <p>{{ form.birth_year.label }} {{ form.birth_year }}</p>
    <p>{{ form.email.label }} {{ form.email }}</p>
    <p>{{ form.gender.label }} {{ form.gender }}</p>  
    <p>{{ form.password.label }} {{ form.password }}</p>
    <p>{{ form.confirm_password.label }} {{ form.confirm_password }}</p>
    <button type="submit">Regisztráció</button>
</form>

{% endblock %}